/*
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright (c) 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
*/

body {
	/*background: url(bkg.gif) repeat-x;*/
	color: #5B5B5B;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	margin-top: 100px;
	text-align: center;
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	text-align: left;
}
a {
	text-decoration: none;
	color: #fff;
}
h1 {
	padding-top: 20px;
	color: #fff;
}
a:hover {
	text-decoration: underline;
	color: #33c6e9;
}
.content {
    margin: 0;
    padding: 0;
}
.dualbrand {
	padding-top: 20px;
}
.wildfly {
	float:left;
	margin-left: 10px;
}
.logo{
    margin-bottom: 10px;
}
.note {
	font-size: 8pt;
	color: #aaaaaa;
}

p.logos {
	padding-top: 20px;
}

.login-background {
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
