<div id="content-area" class="col-md-9" role="main">
	<div id="content">
		<h1>Angular2 Keycloak demo</h1>
		<h2><span>Data received</span></h2>
		<button type="button" (click)="logout()">Sign Out</button>
		<button type="button" (click)="reloadData()">Reload</button>
		<div id="service-result-div" *ngIf="serviceResult != null">
			<p>Received from protected backend service using token:</p>
			<p>Value 1: {{serviceResult.hardCoded1}} </p>
			<p>Value 2: {{serviceResult.hardCoded2}} </p>
		</div>
	</div>
</div>